<p style="color: green"><%= notice %></p>

<%= render @store %>

<h3>Books</h3>
<div>
  <% @store.books.each do |book| %>
    <div>
      <%= render book %>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "Edit this store", edit_store_path(@store) %> |
  <%= link_to "Back to stores", stores_path %>

  <%= button_to "Destroy this store", @store, method: :delete %>
</div>
